# Module 9: Creating tables and manipulating data

Info for the lab:

  

\--drop the table before you create it

DROP TABLE IF EXISTS dbo.demo;

  

\--Create with CREATE TABLE syntax

CREATE TABLE testTable(

> ID INT NOT NULL PRIMARY KEY,
> 
> VALUE VARCHAR(25) NOT NULL);
> 
>

Create table and populate at the same time:

  

SELECT Col1, Col2, Col3 

INTO myNewTable

FROM myOldTable;

  

SELECT \* INTO NewTable

FROM OldTable;

Lab 1.

1\. Create a new table called dbo.Kittens. Include columns for KittenID, MomID, DadID, Gender, Type, Color, BirthDate.

2\. Create a new table called dbo.Sales. Populate it at the same time with a query from AdventureWorks2019 using this query:

  

SELECT SOH.SalesOrderID, SOH.OrderDate, Prod.ProductID, Prod.Name, SOD.OrderQty, SOD. UnitPrice

FROM Sales.SalesOrderHeader AS SOH 

JOIN Sales.SalesOrderDetail AS SOD 

ON SOH.SalesOrderID = SOD.SalesOrderID

JOIN Production.Product AS Prod 

ON SOD.ProductID = Prod.ProductID;

Populating data

  

With values.

  

INSERT INTO myTable(ID, Name, Description)

SELECT 1, 'Big blue sky','A book about clouds');

  

INSERT INTO myTable(ID, Name, Description)

VALUES( 1, 'Big blue sky','A book about clouds'),

> (2,'King of the ocean','A book about sharks');
> 
>   

  

From another table or query

INSERT INTO myTable(ID, Name, Description)

SELECT ID, BookName, ShortDescription

FROM dbo.NatureBooks;

Lab 1. You will need to switch to your own database to complete these

1\. Create a table for holding a CD collection. You'll need cdID, Name, Artist, Genre, YearPublished and AutographedYN.

2\. Populate the table created in question 1 with your own data

3\. Create and populate a table called CD\_Save with one statement.

## Info for Lab 2

\--Delete all rows in a table

DELETE tableName

\--Fast way to delete all rows in a table; Requires more permission but is also more efficient

TRUNCATE TABLE tableName

\--Delete using a where clause!!

DELETE tableName

WHERE ID = 7;

\--Delete using a query. Be sure to use the ALIAS!!

DELETE T1

FROM table1 AS T1 

JOIN table2 AS T2 

ON T1.ID = T2.ID 

WHERE T2.Name = 'Charles';

Lab 2

Create a new table with this query.   

  
SELECT \* INTO dbo.Products FROM AdventureWorks2019.Production.Product;

1\. Delete the rows from the dbo.Products table only if the ProductID is less than 100.

2\. Delete the rows from the dbo.Products table if they have never been sold.

3\. Delete all the rows from the dbo.Products table with the most efficient command.

Info for Lab 3 Updating data

Use a WHERE clause!!

Recreate the dbo.Products table. Include a Description column with the definition:

DROP TABLE IF EXISTS dbo.Products;

SELECT \*, REPLICATE(' ',100) AS DESCRIPTION INTO dbo.Products

FROM Production.Product;

1\. Update all rows with a NULL color. Change to 'None' instead of NULL.

2\. Update the description column with the Product ID + name + color.